In [1]:
import pandas as pd
import sweetviz

In [2]:
df_sirio_libanes = pd.read_excel('data/Kaggle_Sirio_Libanes_ICU_Prediction.xlsx')
df_sirio_libanes.head()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU
0,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0
1,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4,0
2,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4-6,0
3,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,NaN,NaN,NaN,NaN,-1.000000,-1.000000,6-12,0
4,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-0.238095,-0.818182,-0.389967,0.407558,-0.230462,0.096774,-0.242282,-0.814433,ABOVE_12,1

In [3]:
df_sirio_libanes.tail()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU
1920,384,0,50th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0
1921,384,0,50th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4,0
1922,384,0,50th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,4-6,0
1923,384,0,50th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,6-12,0
1924,384,0,50th,1,0.0,0.0,1.0,0.0,0.0,0.0,...,-0.547619,-0.838384,-0.701863,-0.585967,-0.763868,-0.612903,-0.551337,-0.835052,ABOVE_12,0

In [4]:
df_sirio_libanes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1925 entries, 0 to 1924
Columns: 231 entries, PATIENT_VISIT_IDENTIFIER to ICU
dtypes: float64(225), int64(4), object(2)
memory usage: 3.4+ MB

In [5]:
f"NÃºmero de pacientes: {df_sirio_libanes['PATIENT_VISIT_IDENTIFIER'].nunique()}"

'NÃºmero de pacientes: 385'

In [6]:
df_sirio_libanes.select_dtypes(include=['object']).columns

Index(['AGE_PERCENTIL', 'WINDOW'], dtype='object')

In [7]:
df_sirio_libanes_editado = df_sirio_libanes

In [8]:
df_sirio_libanes_editado['AGE_PERCENTIL']=df_sirio_libanes_editado['AGE_PERCENTIL'].astype("category")
df_sirio_libanes_editado['WINDOW']=df_sirio_libanes_editado['WINDOW'].astype("category")

In [9]:
df_sirio_libanes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1925 entries, 0 to 1924
Columns: 231 entries, PATIENT_VISIT_IDENTIFIER to ICU
dtypes: category(2), float64(225), int64(4)
memory usage: 3.4 MB

In [10]:
correlacao_icu = df_sirio_libanes_editado.corr()['ICU']

In [11]:
corelacao_filter = correlacao_icu.loc[(correlacao_icu>=0.25)&(~correlacao_icu.index.str.contains('MAX'))&(~correlacao_icu.index.str.contains('MIN'))&(~correlacao_icu.index.str.contains('MEDIAN'))].abs()
corelacao_filter

BE_ARTERIAL_MEAN                    0.298721
BE_VENOUS_MEAN                      0.315695
LEUKOCYTES_MEAN                     0.287159
NEUTROPHILES_MEAN                   0.266037
UREA_MEAN                           0.275264
RESPIRATORY_RATE_MEAN               0.428144
BLOODPRESSURE_DIASTOLIC_DIFF        0.361708
BLOODPRESSURE_SISTOLIC_DIFF         0.413082
HEART_RATE_DIFF                     0.335091
RESPIRATORY_RATE_DIFF               0.502663
TEMPERATURE_DIFF                    0.330577
OXYGEN_SATURATION_DIFF              0.259460
BLOODPRESSURE_DIASTOLIC_DIFF_REL    0.376300
BLOODPRESSURE_SISTOLIC_DIFF_REL     0.403476
HEART_RATE_DIFF_REL                 0.333011
RESPIRATORY_RATE_DIFF_REL           0.489765
TEMPERATURE_DIFF_REL                0.331295
OXYGEN_SATURATION_DIFF_REL          0.260411
ICU                                 1.000000
Name: ICU, dtype: float64

In [12]:
window_list= df_sirio_libanes_editado['WINDOW'].drop_duplicates().to_list()
window_list

['0-2', '2-4', '4-6', '6-12', 'ABOVE_12']

In [13]:
list_filter = ['PATIENT_VISIT_IDENTIFIER','AGE_PERCENTIL']
df_evolucao_paciente=None
df_evolucao_paciente= df_sirio_libanes_editado[list_filter].drop_duplicates().reset_index(drop=True)
for field_data in list(corelacao_filter.index):
    for window_value in window_list:               
        df_evolucao_paciente[f'{field_data} ({window_value})'] = (
            df_sirio_libanes_editado.loc[(df_sirio_libanes_editado['WINDOW']==window_value)][field_data]
            )

In [14]:
df_evolucao_paciente.shape

(385, 97)

In [15]:
df_evolucao_paciente.head()

,PATIENT_VISIT_IDENTIFIER,AGE_PERCENTIL,BE_ARTERIAL_MEAN (0-2),BE_ARTERIAL_MEAN (2-4),BE_ARTERIAL_MEAN (4-6),BE_ARTERIAL_MEAN (6-12),BE_ARTERIAL_MEAN (ABOVE_12),BE_VENOUS_MEAN (0-2),BE_VENOUS_MEAN (2-4),BE_VENOUS_MEAN (4-6),...,OXYGEN_SATURATION_DIFF_REL (0-2),OXYGEN_SATURATION_DIFF_REL (2-4),OXYGEN_SATURATION_DIFF_REL (4-6),OXYGEN_SATURATION_DIFF_REL (6-12),OXYGEN_SATURATION_DIFF_REL (ABOVE_12),ICU (0-2),ICU (2-4),ICU (4-6),ICU (6-12),ICU (ABOVE_12)
0,0,60th,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1,1,90th,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-1.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
2,2,10th,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
3,3,40th,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,0.0,NaN
4,4,10th,NaN,NaN,NaN,NaN,-0.871658,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-0.814433,NaN,NaN,NaN,NaN,1.0

In [16]:
icu_list=[icu_value for icu_value in df_evolucao_paciente.columns if 'ICU' in icu_value]
icu_list

['ICU (0-2)', 'ICU (2-4)', 'ICU (4-6)', 'ICU (6-12)', 'ICU (ABOVE_12)']

In [17]:
df_evolucao_paciente[icu_list].describe()

       ICU (0-2)  ICU (2-4)  ICU (4-6)  ICU (6-12)  ICU (ABOVE_12)
count  77.000000  77.000000  77.000000   77.000000       77.000000
mean    0.103896   0.142857   0.298701    0.376623        0.467532
std     0.307127   0.352222   0.460690    0.487717        0.502217
min     0.000000   0.000000   0.000000    0.000000        0.000000
25%     0.000000   0.000000   0.000000    0.000000        0.000000
50%     0.000000   0.000000   0.000000    0.000000        0.000000
75%     0.000000   0.000000   1.000000    1.000000        1.000000
max     1.000000   1.000000   1.000000    1.000000        1.000000

In [18]:
df_evolucao_paciente['ICU'] = df_evolucao_paciente[icu_list].sum(axis = 1, skipna = True)

In [19]:
df_evolucao_paciente.drop(columns=icu_list,inplace=True,errors='ignore')
df_evolucao_paciente.head()

,PATIENT_VISIT_IDENTIFIER,AGE_PERCENTIL,BE_ARTERIAL_MEAN (0-2),BE_ARTERIAL_MEAN (2-4),BE_ARTERIAL_MEAN (4-6),BE_ARTERIAL_MEAN (6-12),BE_ARTERIAL_MEAN (ABOVE_12),BE_VENOUS_MEAN (0-2),BE_VENOUS_MEAN (2-4),BE_VENOUS_MEAN (4-6),...,TEMPERATURE_DIFF_REL (2-4),TEMPERATURE_DIFF_REL (4-6),TEMPERATURE_DIFF_REL (6-12),TEMPERATURE_DIFF_REL (ABOVE_12),OXYGEN_SATURATION_DIFF_REL (0-2),OXYGEN_SATURATION_DIFF_REL (2-4),OXYGEN_SATURATION_DIFF_REL (4-6),OXYGEN_SATURATION_DIFF_REL (6-12),OXYGEN_SATURATION_DIFF_REL (ABOVE_12),ICU
0,0,60th,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,0.0
1,1,90th,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.0,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,NaN,0.0
2,2,10th,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,3,40th,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,-1.0,NaN,0.0
4,4,10th,NaN,NaN,NaN,NaN,-0.871658,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.242282,NaN,NaN,NaN,NaN,-0.814433,1.0

In [20]:
df_evolucao_paciente['ICU'].describe()

count    385.000000
mean       0.277922
std        0.448558
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: ICU, dtype: float64

In [21]:
df_evolucao_paciente['ICU'].value_counts(normalize=True).round(3)

0.0    0.722
1.0    0.278
Name: ICU, dtype: float64

In [22]:
report = sweetviz.analyze(df_evolucao_paciente,pairwise_analysis='on')

Done! Use 'show' commands to display/save.   |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| [100%]   00:13 -> (00:00 left)

In [23]:
report.show_html()

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.