In [35]:
import pandas as pd

In [5]:
df_sirio_libanes = pd.read_excel('data/Kaggle_Sirio_Libanes_ICU_Prediction.xlsx')
df_sirio_libanes.head()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU
0,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0
1,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4,0
2,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4-6,0
3,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,NaN,NaN,NaN,NaN,-1.000000,-1.000000,6-12,0
4,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-0.238095,-0.818182,-0.389967,0.407558,-0.230462,0.096774,-0.242282,-0.814433,ABOVE_12,1

In [6]:
df_sirio_libanes.tail()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU
1920,384,0,50th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0
1921,384,0,50th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4,0
1922,384,0,50th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,4-6,0
1923,384,0,50th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,6-12,0
1924,384,0,50th,1,0.0,0.0,1.0,0.0,0.0,0.0,...,-0.547619,-0.838384,-0.701863,-0.585967,-0.763868,-0.612903,-0.551337,-0.835052,ABOVE_12,0

In [8]:
df_sirio_libanes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1925 entries, 0 to 1924
Columns: 231 entries, PATIENT_VISIT_IDENTIFIER to ICU
dtypes: float64(225), int64(4), object(2)
memory usage: 3.4+ MB

In [13]:
f"NÃºmero de pacientes: {df_sirio_libanes['PATIENT_VISIT_IDENTIFIER'].nunique()}"

'NÃºmero de pacientes: 385'

In [34]:
df_sirio_libanes.select_dtypes(include=['object']).columns

Index([], dtype='object')

In [ ]:
df_sirio_libanes_editado = df_sirio_libanes

In [43]:
df_sirio_libanes_editado['AGE_PERCENTIL']=df_sirio_libanes_editado['AGE_PERCENTIL'].astype("category")
df_sirio_libanes_editado['WINDOW']=df_sirio_libanes_editado['WINDOW'].astype("category")

In [45]:
df_sirio_libanes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1925 entries, 0 to 1924
Columns: 231 entries, PATIENT_VISIT_IDENTIFIER to ICU
dtypes: category(2), float64(225), int64(4)
memory usage: 3.4 MB

In [46]:
correlacao_icu = df_sirio_libanes_editado.corr()['ICU']

In [54]:
correlacao_icu.loc[correlacao_icu>=0.25].abs()

BE_ARTERIAL_MEDIAN                  0.298721
BE_ARTERIAL_MEAN                    0.298721
BE_ARTERIAL_MIN                     0.298721
BE_ARTERIAL_MAX                     0.298721
BE_VENOUS_MEDIAN                    0.315695
BE_VENOUS_MEAN                      0.315695
BE_VENOUS_MIN                       0.315695
BE_VENOUS_MAX                       0.315695
LEUKOCYTES_MEDIAN                   0.287159
LEUKOCYTES_MEAN                     0.287159
LEUKOCYTES_MIN                      0.287159
LEUKOCYTES_MAX                      0.287159
NEUTROPHILES_MEDIAN                 0.266037
NEUTROPHILES_MEAN                   0.266037
NEUTROPHILES_MIN                    0.266037
NEUTROPHILES_MAX                    0.266037
UREA_MEDIAN                         0.275264
UREA_MEAN                           0.275264
UREA_MIN                            0.275264
UREA_MAX                            0.275264
RESPIRATORY_RATE_MEAN               0.428144
RESPIRATORY_RATE_MEDIAN             0.387823
BLOODPRESSURE_SISTOLIC_MAX          0.379264
RESPIRATORY_RATE_MAX                0.588523
BLOODPRESSURE_DIASTOLIC_DIFF        0.361708
BLOODPRESSURE_SISTOLIC_DIFF         0.413082
HEART_RATE_DIFF                     0.335091
RESPIRATORY_RATE_DIFF               0.502663
TEMPERATURE_DIFF                    0.330577
OXYGEN_SATURATION_DIFF              0.259460
BLOODPRESSURE_DIASTOLIC_DIFF_REL    0.376300
BLOODPRESSURE_SISTOLIC_DIFF_REL     0.403476
HEART_RATE_DIFF_REL                 0.333011
RESPIRATORY_RATE_DIFF_REL           0.489765
TEMPERATURE_DIFF_REL                0.331295
OXYGEN_SATURATION_DIFF_REL          0.260411
ICU                                 1.000000
Name: ICU, dtype: float64